.navbar.nav-transparent {
  background-color: transparent;
  position: absolute; }

.banner {
  background-image: url("../img/rio-1_1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0 0 0; }
  .banner .col {
    background-color: #FFF;
    border-top: 4px solid #7aa88e; }
