.navbar {
    &.nav-transparent {
        padding-top: 0px;
        left: 10%;
        background-color: transparent;
        position: absolute;
        a{
            padding-top: 0px;
            img {
                background-color: #FFF;
                border-radius: 0 0 15px 15px;
                width: 30%;
                padding: 15px 30px;
            }
        }
    }
}

section {
    padding: 5em 0 ;
}

.diferenciais {
    .coluna-vazia{
        padding: 0;
        background-color: #7aa88e;
    }
    .coluna-conteudo{
        padding: 8em 0;
        background-color: #e5e5e5;
    }
    .carousel-inner {
        .img-thumbnail{
            img {
                width: 100%;
            }
        }
    }
}

.banner {
    background-image: url('../img/rio-1_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0 0 0;
    .col {
        background-color: #FFF;
        border-top: 5px solid #7aa88e;
    }
}

.servicos {
    .preco{
        color:#7aa88e;
    }
    .conteudo-servico{
        //max-height: 415px;
    }
}

.parceiros {
    .img-thumbnail {
        border: none;
        max-height: 255px;
    }
    .parceiros-conteudo {
        a {
            color: #7aa88e;
            &:hover {
                color: inherit;
                text-decoration: none;
            }
            &:visited {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}


.hidden {
    display: none;
}

footer {
    background-color:#7aa88e;
    padding: 5em 0;
    a {
        color: #FFF;
        &:hover {
            color: inherit;
        }
        &:visited {
            color: inherit;
            text-decoration: none;
        }
    }
}
///
// $verde1: #7aa88e;
// $verde2: #7ba78e;
// $cinza: #e5e5e5;